<a href="https://colab.research.google.com/github/Norra-derMann/pythoncolab-1/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_Python_for_Fun_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

In [ ]:
print("xxx")

xxx

In [2]:
print('''print("xxx")''')
print("print('xxx')")

print("xxx")
print('xxx')

In [ ]:
print("xxx")
print("xxx")
print("xxx")

print("xxx\nxxx\nxxx")

xxx
xxx
xxx
xxx
xxx
xxx

In [ ]:
print("xxx" + "yyy")
print("xxx" + " " + "yyy")

xxxyyy
xxx yyy

In [ ]:
savings = 100

print(savings)

100

# Data Types

### String

In [ ]:
print("Hello")

Hello

In [ ]:
print("Hello"[0])

H

In [ ]:
print("123" + "456")

123456

### Interger

In [ ]:
print(123 + 456)

579

### Float

In [ ]:
3.14159

3.14159

In [ ]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100*(1.1**7))

10
0
15
5.0
16
4
194.87171000000012

In [ ]:
# Create a variable savings
savings = 

# Create a variable factor
growth_multiplier = 

# Calculate result
result = 

# Print out result
print(result)

In [ ]:
### PEMDAS
# Parentheses ()
# Exponents **
# Multiplication *
# Division /
# Addition +
# Subtraction -

In [ ]:
print(3 * 3 + 3 / 3 - 3)

7.0

In [ ]:
print(3 * (3 + 3) / 3 - 3)

3.0

In [ ]:
print(type(num_char))

<class 'int'>

In [ ]:
a = 123
print(type(a))

a = "123"
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
print(8/3)
print(round(8/3))
print(round(8/3, 2))

2.6666666666666665
3
2.67

### Boolean

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
print(len("xxx"))

3

In [ ]:
print(len(12345))

In [ ]:
input("xxx")

In [ ]:
print("Hello " + input("What is your name?"))

In [ ]:
name = input("What is you name?")
print(name)

In [ ]:
name = input("What is you name?")
lenght = len(name)
print(lenght)

In [ ]:
num_char = len(input("What is your name?"))
print("Your name has " + num_char + " characters.")

In [ ]:
print(type(num_char))

In [ ]:
num_char = len(input("What is your name?"))
new_num_char = str(num_char)
print("Your name has " + new_num_char + " characters.")

# Excercise

In [ ]:
two_digit_number = input("Number!")
print(type(two_digit_number))

In [ ]:
first_digit = two_digit_number[0]
second_digit = two_digit_number[1]
print(xxx)

# BMI excercise

In [ ]:
height = input("Your height (m):")
weight = input("Your weight (kg):")

In [ ]:
bmi = weight/height **2

In [ ]:
bmi = int(weight) / float(height) **2
print(bmi)

In [ ]:
bmi_int = int(bmi)
print(bmi_int)

# f-String

In [ ]:
print(f"your score is {score}, your height is {height}, and your winning is {isWinning}")

# Excercise

In [ ]:
#Retirement Calculation
age =input("What is your current age?")
age_as_int = 

years_remaining = 60-
days_remaining = 
weeks_remaining = 
months_remaining = 

message = f"You have {xxx} days, {xxx} weeks, and {xxx} months left."
print(xxx)

# Excercise

In [ ]:
print("Welcome to the tip calculator!")
bill = xxx(xxx("What was the total bill? $"))
tip = xxx(xxx("How much tip?"))
people = xxx(xxx("How many people?"))

tip_as_percent = 
total_tip_amount = 
total_bill = 
bill_per_person = 
final_amount = round(bill_per_person, 2)
final_amount = "{:.2f}".format(bill_per_person)
print(f"Each person should pay: ${final_amount}")

Welcome to the tip calculator!
What was the total bill? $50
How much tip?5
How many people?9
Each person should pay: $5.83

# Condition If Else

In [ ]:
if consition:
    do this
else:
    do this

In [ ]:
number = int(input("Number "))

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
height = int(input("Height"))

if height >= 120:
    print("You can play")
else:
    print("You can not play")

In [ ]:
height = int(input("Height"))

if height >= 120:
    print("You can play")
    age = int(input("Age"))
    if age < 12:
        print("Please pay 5")
    elif age < 18:
        print("Please pay 10")
    else:
        print("Please pay 15")
else:
    print("You can not play")

# Excercise

In [ ]:
# Size S = 15, M = 20, L = 25
# Add Egg +10
# Takeaway +5

print("Welcome")
size = input("Size? S, M or L")
Egg = input("Add Egg? [Y/N]")
Extra = input("Extra? [Y/N]")

bill = 0
if 

print(f"Total bill is {bill}.")

# List

In [ ]:
country = ['USA', 'Germany', 'UK']
country[2]

'UK'

In [ ]:
#Replace
country[0] = "America"
country

['America', 'Germany', 'UK']

In [ ]:
country.append("Thailand")
country

['America', 'Germany', 'UK', 'Thailand']

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = [hall,kit,liv,bed,bath]

print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

### Create list with different types

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = ["hallway",hall,"kitchen", kit, "living room", liv,"bedroom", bed, "bathroom", bath]

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

kitchen = areas[2]
print(kitchen)

downstairs = areas[0:6]
print(downstairs)

upstairs = areas[6:10]
print(upstairs)

kitchen
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

# For Loop

In [ ]:
country = ['USA', 'Germany', 'UK']

for ct in country:
    print(ct)
    print(ct + " good")
print(country)

USA
USA good
Germany
Germany good
UK
UK good
['USA', 'Germany', 'UK']

# Range

In [ ]:
for n in range(0, 5):
    print(n)

0
1
2
3
4

In [ ]:
for number in range(1, 11, 2):
    print(number)

1
3
5
7
9

In [ ]:
#sum 1-100 
total = 0
for number in range(1, 101):
    total += number
print(total)

In [ ]:
total = 0
for number in range(2, 101, 2):
    total += number
print(total)


total2 = 0
for number in range(1, 101):
    if number % 2 == 0:
        total2 += number
print(total2)

# Function

In [ ]:
#Defining functions
def my_function():
    print("Red")
    print("Green")
    print("Blue")

#Calling functions
my_function()

Red
Green
Blue

In [ ]:
def my_function_with_name(name): #name we call "Parameter"
    print(f"Hello {name}")
    print(f"Bye {name}")

my_function_with_name("Book") #Book we call "Argument" (actual value of the data)

Hello Book
Bye Book

In [ ]:
def my_function_with_many(name, city):
    print(f"Hello {name}")
    print(f"Location {city}")


my_function_with_many("Book", "BKK")

Hello Book
Location BKK

In [ ]:
def my_function_with_many(name, city):
    print(f"Hello {name}")
    print(f"Location {city}")


my_function_with_many("BKK", "Book")

Hello BKK
Location Book

In [ ]:
def my_function_with_many(name, city):
    print(f"Hello {name}")
    print(f"Location {city}")


my_function_with_many(city="BKK", name="Book")

Hello Book
Location BKK

# While Loop

In [ ]:
#For loob >> for item in the list or range
#While loob >> do something repeatedly (if in the condition)

In [ ]:
offset = 8

while offset != 0:
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [ ]:
offset = -6

while offset != 0 :
    
    print("correcting...")
    if offset > 0:
        offset = offset - 1
    else:
        offset = offset + 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

# Dictionary

In [ ]:
programming_dictionary = {
    "A": "Test A",
    "B": "Test B",
    "C": "Test C"
}

programming_dictionary["A"]

'Test A'

In [ ]:
programming_dictionary = {
    "A": "Test A",
    "B": "Test B",
    "C": "Test C"
}

programming_dictionary["D"] = "Test D"
programming_dictionary

{'A': 'Test A', 'B': 'Test B', 'C': 'Test C', 'D': 'Test D'}

In [ ]:
for i in programming_dictionary:
    print(i)
    print(programming_dictionary[i])

A
Test A
B
Test B
C
Test C
D
Test D

# Excercise

In [ ]:
student_scores = {
    "Kevin": 73,
    "Prayut": 42,
    "Peter": 67,
    "David": 89
}

student_grades = {}

for student in student_scores:
    score = student_scores[student]
    if score > 80:
        student_grades[student] = "A"
    elif score > 70:
        student_grades[student] = "B"
    elif score > 60:
        student_grades[student] = "C"
    else:
        student_grades[student] = "D"
print(student_grades)

{'Kevin': 'B', 'Prayut': 'D', 'Peter': 'C', 'David': 'A'}